@tailwind base;
@tailwind components;
@tailwind utilities;

.status::-webkit-scrollbar {
  display: none;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(158, 154, 154);
}

.scroll::-webkit-scrollbar-thumb:hover {
  border-radius: 100px;
  background-color: gray;
}
